body {
display: grid;
font-family: Arial, sans-serif;
grid-gap: 1rem;
grid-template-areas:
"header header header header header"
"aside main main main main"
"aside main main main main"
"aside footer footer footer footer";
grid-template-columns: auto auto auto auto auto;
grid-template-rows: auto 100vh auto auto auto;
}

.o-header, .o-footer {
background: #FFCC66;
color: #333;
}

.o-header {
grid-area: header;
padding: 1.5rem;
}

.o-aside {
grid-area: aside;
background: #fffe96;
text-align: center;
}

.o-main {
grid-area: main;
background: #f5f4f2;
}

.o-footer {
grid-area: footer;
padding: 1rem;
}

.o-aside ul {
display: table-cell;
list-style-type: none;
text-align: center;
}

.o-aside .navbar a {
padding: 4px 0px;
text-decoration: none;
font-size: 20px;
color: #333;
display: block;
transition: 0.3s;
}

.o-aside .navbar a:hover {
background: #FFCC66;
color: black;
}

section{
padding: 40px;
text-align: justify;
}

hr{
color: #333;
}


.mini-menu a{
color: #000;
text-decoration: none;
}

.mini-menu a:hover {
  background: #FFCC66;
  color: #333;
}