body {
margin: 0;
display: grid;
grid-template-areas:
    "aside header header"
    "aside main main"
    "aside footer footer";
    grid-gap: 1rem;
}

.navbar {
  overflow: hidden;
  background-color: #333;

}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
padding: 16px;
margin-top: 30px;
height: 1500px; /* Used in this example to enable scrolling */
}

section{
padding:40px;
}

.sectionpar{
background-image: url('./imagens/paper.gif');
background-repeat: repeat;margin-top:60pxg;height: 400px;
}

.mini-menu a{
color: #333;
grid-area: main;
}



footer image{
display: block;
margin-left: auto;
margin-right: auto;
border:solid 1px gray;
}


.o-header {
background-color: #333;
grid-area: header;
}

.o-aside {
background-color: #333;
grid-area: aside;
position: fixed;
height: 100%
}

.o-main {
grid-area: main;
}

.o-footer {
  background-color: #333;
  grid-area: footer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



#sidebar{
position: fixed;
background: #333;
overflow: auto;
height: 100%;
top: 49px;
padding: 10px;
}

#content{
 background: #ccc;
 float: left;
 height: 400px;
 margin-left: 64px;
 margin-top: 14px;
 width: 950px;
 text-align: center;
 padding: 4px;
}

